* {
  margin: 0;
  padding: 0;
}
div#app {
  width: 100%;
}
@font-face {
  font-family: poppins;
  src: url(../font/Poppins-Medium.ttf);
}
@font-face {
  font-family: manrope;
  src: url(../font/Manrope-VariableFont_wght.ttf);
}
:root {
  --mainbgcolor: #1c1e53;
  --textColor: #bbbbcb;
  --viewOurWorkBtnBgColor: #fcd980;
  --fontColor: #282938;
}
