div.features {
  width: 100%;
  height: 1200px;
  position: absolute;
  top: 2400px;
  background-color: #f4f6fc;
  div.title {
    width: 630px;
    margin: 128px auto;
    h2 {
      font-family: Poppins;
      font-size: 48px;
      font-weight: 600;
      text-align: center;
    }
  }
  div.top {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    div.cardOne {
      width: 405px;
      background-color: #ffffff;
      padding: 48px;
      box-sizing: border-box;
      h2 {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 400;
        padding: 12px 0px 12px 0px;
      }
      p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        color: gray;
        padding: unset;
      }
    }
    div.cardTow {
      width: 405px;
      background-color: #ffffff;
      padding: 48px;
      box-sizing: border-box;
      h2 {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 400;
        padding: 12px 0px 12px 0px;
      }
      p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        color: gray;
        padding: unset;

      }
    }
    div.cardThree {
      width: 405px;
      background-color: #ffffff;
      padding: 48px;
      box-sizing: border-box;
      h2 {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 400;
        padding: 12px 0px 12px 0px;
        box-sizing: border-box;
      }
      p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        color: gray;
        

      }
    }
  }
  div.down {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-top: 32px;
    box-sizing: border-box;
    div.cardOne {
      width: 405px;
      background-color: #ffffff;
      padding: 48px;
      box-sizing: border-box;
      h2 {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 400;
        padding: 12px 0px 12px 0px;
      }
      p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        color: gray;
      }
    }
    div.cardTow {
      width: 405px;
      background-color: #ffffff;
      padding: 48px;
      box-sizing: border-box;
      h2 {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 400;
        padding: 12px 0px 12px 0px;
      }
      p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        color: gray;
      }
    }
    div.cardThree {
      width: 405px;
      background-color: #ffffff;
      padding: 48px;
      box-sizing: border-box;
      h2 {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 400;
        padding: 12px 0px 12px 0px;
      }
      p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        color: gray;
      }
    }
  }
}
p{
  padding: unset;
}